* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

img {
  max-width: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4 {
  line-height: 1.3;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn_simple {
  color: #000000;
  border: 1px solid #ffee00;
  font-weight: 500;
  border-radius: 20px;
  padding: 6px 34px;
  transition: all 0.4s ease;
  text-decoration: none;
}
.btn_simple:hover {
  background-color: #ffee00;
  color: #000000;
}

.btn {
  color: #ffee00;
  border: 1px solid #ffee00;
  font-weight: 500;
  border-radius: 20px;
  padding: 6px 34px;
  transition: all 0.4s ease;
  text-decoration: none;
}
.btn:hover {
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffee00;
}

#top_banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#header {
  padding-top: 44px;
}
#header .inner_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .inner_header > .logo {
  display: flex;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
  font-size: 32px;
}
#header .inner_header .right_side_header {
  display: flex;
  align-items: center;
}
#header .inner_header .right_side_header .mnu_top {
  list-style-type: none;
  display: flex;
  align-items: center;
}
#header .inner_header .right_side_header .mnu_top > li {
  display: inline-block;
  position: relative;
}
#header .inner_header .right_side_header .mnu_top > li > a {
  display: block;
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  font-size: 17px;
  padding: 4px 40px 4px 0px;
  transition: color 0.4s ease;
}
#header .inner_header .right_side_header .mnu_top > li > a:hover {
  color: #ffee00;
}

.main_banner {
  padding: 170px 0 330px 0;
}
.main_banner .mb_info > h1 {
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 4px;
  line-height: 1.2;
  max-width: 430px;
  margin-top: 10px;
}
.main_banner .mb_info > .descr {
  color: #898989;
  margin: 14px 0 44px;
  font-size: 18px;
  max-width: 472px;
}
.main_banner .mb_info > .btns {
  display: flex;
  align-items: center;
}
.main_banner .mb_info > .btns > .btn_simple:last-child {
  margin-left: 10px;
}

#work_mobile {
  margin-top: 120px;
}
#work_mobile .swiper {
  height: 320px;
  width: 300px;
}
#work_mobile .swiper .swiper-slide {
  background: #eeeeee;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
#work_mobile .swiper .swiper-slide .wrapper-slide {
  display: flex;
  flex-direction: column;
}
#work_mobile .swiper .swiper-slide .wrapper-slide .wrapper_img > img {
  border-radius: 20px 20px 0px 0px;
}
#work_mobile .swiper .swiper-slide .wrapper-slide .wrapper_price_block {
  color: #000000;
  margin-top: 20px;
  margin-left: 10px;
}
#work_mobile .swiper .swiper-slide .wrapper-slide .wrapper_price_block > h2 {
  font-size: 26px;
}
#work_mobile .swiper .swiper-slide .wrapper-slide .wrapper_price_block > div {
  font-size: 16px;
  padding-top: 5px;
}
#work_mobile .swiper .swiper-slide .wrapper-slide .btn_wrapper {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}

#work {
  margin-top: 120px;
  display: block;
}/*# sourceMappingURL=main.css.map */